<header class="fixed-top main-header">
    <nav class="container navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <picture>
                <source media="(max-width: 991px)" srcset="assets/images/milogy-logo-94-50.png">
                <img src="assets/images/milogy-Logo-50.234.png" class="d-inline-block align-top" alt="">
            </picture>
          </a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" 
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
            <div class="navbar-links">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item"><a routerLink="/news"  routerLinkActive="active"  class="nav-link">خانه</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">سروریس ها</a></li>
                    <li class="nav-item"><a routerLink="/pages" routerLinkActive="active"  class="nav-link">مقالات</a></li>
                    <li class="nav-item"><a href="#" class="btn btn-warning">ورود</a></li>
                </ul>
            </div>
        </div>
        
        <div class="collapse" id="menu">
            <div class="side">
                <div class="sidebar-pic d-flex justify-content-center">
                    <img src="assets/images/prof_1.png" alt="prof image">
                </div>

                <div class="sidebar-info">
                    <p class="text-justify">
                        میلوژی مجموعه‌ای از کارهای کوچک و عملیه
                         که بر اساس ویژگی‌های شخصیتی و علایق شخصی شما بهتون پیشنهاد میشه! 
                        ریشه‌های علمی میلوژی از روانشناسی،علوم رفتاری، مدیریت و علوم
                         اجتماعی تغذیه میشه و در ساختارش از جدیدترین روش‌های روز دنیا
                         جهت انگیزه بخشی ، حفظ و تداوم عادات مثبت استفاده شده...
                     </p>

                     <a href="#" class="btn btn-warning">ثبت نام</a>
                </div>
                
                <div class="sidebar-box">
                    
                    <div class="box-title">
                        <img src="assets/images/movafaghiat.png" alt="success icon">
                        <h4>متولدین اخیر</h4>
                    </div>
                    
                    <div class="box-content row">
                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (2).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (3).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (4).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (5).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (6).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (7).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (8).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (9).png" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (3).png" alt="user"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    
                    <div class="box-title">
                        <img src="assets/images/movafaghiat.png" alt="success icon">
                        <h4>سرویس ها</h4>
                    </div>
                    
                    <div class="box-content row">
                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/personality-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/ent-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/fourteendays-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/desktop-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/brain-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/creativity-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/fiveneed-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/mi-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/inbox-icon" alt="user"></a>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="user-pic">
                                <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/profile-icon" alt="user"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>	
</header>
