<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col-content">
                    <h4>درباره</h4>

                    <p>
                        میلوژی مجموعه‌ای از کارهای کوچک و
                        عملیه که بر اساس ویژگی‌های شخصیتی و علایق شخصی شما بهتون پیشنهاد میشه! ریشه‌های علمی 
                        میلوژی از روانشناسی،علوم رفتاری، مدیریت و علوم اجتماعی تغذیه میشه و در ساختارش از
                        جدیدترین روش‌های روز دنیا جهت انگیزه بخشی ، حفظ و تداوم عادات مثبت استفاده شده...
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-content">
                    <h4>منو</h4>

                    <ul class="list-unstyled">
                        <li><a href="#">قوانین سایت</a></li>
                        <li><a href="#">درباره میلوژی</a></li>
                        <li><a href="#">مقالات سایت</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-content">
                    <h4>ما در شبکه های اجتماعی</h4>

                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-content">
                    <h4>تماس با ما</h4>

                    <address>
                        آدرس<br>
مشهد - دانشگاه فردوسی - مرکز رشد شماره                          ۴
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="creator">
        <span>طراحی و توسعه : میلوژی</span>
    </div>
</footer>
