<div class="titles" *ngIf="categories">
    <div *ngFor="let item of categories.pagesInfo">
        <div *ngIf="item.pages.length != 0">
            <h3>{{item.category.title}}</h3>
            <div class="titles-link">
                <div class="row">
                    <div class="col-md-6" *ngFor="let link of item.pages">
                        <a routerLink="/news/{{link.id}}/{{link.slug}}">{{link.title}}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
