<h3>راز بقا در دانشگاه</h3>
<div class="titles-link">
    <div class="row">
        <div class="col-md-6">
            <a href="#">تحلیلگران: شخصیت شهودی متفکر</a> 
            </div>

            <div class="col-md-6">
                <a href="#">سیاسی ها: شخصیت شهودی احساسی</a> 
            </div>

            <div class="col-md-6">
                <a href="#">نگهبانان: شخصیت عینی متفکر</a> 
            </div>

            <div class="col-md-6">
                <a href="#">کاشفان: شخصیت عینی احساسی</a> 
            </div>
    </div>
</div>
