/*-------------------post----------------*/

.post p{
    line-height: 35px;
    margin-top: 10px;
}

.post a{
    text-decoration: none;
    color: #337ab7;
    font-size: 14px;
    font-weight: 600;
}

.post a:hover{
    color: #5a7391;
}

.post strong{
    color: #4d4c4c;
}

.post ol li{
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 600;
    line-height: 35px;
}

.post .result{
    text-decoration: underline;
}