<div class="titles post" *ngIf="news">
    
    <h3>{{news.title}}</h3>
    
    <div innerHtml={{news.content}}>

    </div>
    <!--

    <p>در آغاز سال تحصیلی چقدر برای ورود به دانشگاه اضطراب دارید؟</p>
    <p class="text-justify">
        اگه با ترس جواب میدهید : 
        "حدس میزنم..."  پس در جای مناسبی قرار دارید. اگر پاسخ دادید "البته"
         احتمالا شما یک رهبر یا یک مجری هستید و شما نیز باید بمانید.
    </p>
    <p class="text-justify">
        در شروع باید بگوییم که ما توصیه های خود را بر اساس داده ها
         و آنچه که این اعداد میگویند احتمالا در آموزش عالی با آنها دست و پنجه
         نرم می کنید، پایه گذاری میکنیم. اما "شما داده نیستید". شما خاص و تک 
        هستید. صرف نظر از نوع شخصیت ما امیدواریم که هر کدام از موارد زیر حتی 
        اگر به میزان کمی وجود دارد باعث روشن و واضح شدن محیط آینده شما شود.
    </p>

    <p><strong>انتخاب متناسب با <a href="#">تیپ شخصیتی</a></strong></p>
    
    <div class="w-100 d-flex justify-content-center mb-3">
        <img src="../assets/images/f1fbb7f4f4ec39a0c4e84a433c18e6e0intj.png" alt="post pic">
    </div>

    <p>
        اگر شما <strong>درون گرا شهودی متفکر و قاعده گرا هستید</strong>
        ؛ نوع شخصیت شما فشار زیادی را برای ایجاد حس شایستگی به خود وارد میکند. 
        شما ارزش را در میزان سواد میبینید. خود را بالاتر از دیگران میبینید و میخواهید
         کنترل زندگیتان را داشته باشید. افراد مانند شما انتظارات زیادی از خود دارند و 
        استانداردهای بسیار بالایی برای دنیای اطروف خود در نظر میگیرند. به هر حال شما شهودی 
        هستید. اما ویژگی های داوری و تفکر نیز شما را به طرز باورنکردنی منطقی میکند.
         متاسفانه عادت دارید به تغییر دادن چیزی ( در محیط های اجتماعی ) که سریع 
        انتظارات شما را برطرف کند تا کاری که با طی یک مسیر طولانی به هدف برسد.
    </p>

    <strong>راه حل</strong>

    <p>انتظارات خود رو پایین بیاورید.</p>

    <p>صبر کنید ؛ ما میدانیم که شما به چه فکر میکنید : چرا انتظاراتم را پایین آورم؟ آنها مرا میسازند.</p>

    <p>
        در دنیا چیزهایی وجود دارد شما را ناامید میکند. حتی ممکن است رویدادی رخ دهد که 
        شما تصپیم به ترک دانشگاه بگیرید. ( و ما فقط در اینجا در مورد غذا های هولناک غذاخوری حرف نمیزنیم! )
    </p>

    <p>
        اما یادآوری این نکته مهم است که ناامیدی یک قدم طبیعی به سمت رضایت است. قبل 
        از ایجاد هرگونه تغییر بزرگ لازم است واقعیت های پیرامون موقعیت خود را بررسی کنید و از خودتان پرسید :
    </p>

    <ol>
        <li>آیا این به همان اندازه که به نظر میرسد غیر فابل تحمل است؟</li>
        <li>آیا برنامه های بلند مدت من با این راه حل ها نابود نمیشود؟</li>
        <li>چگونه میتوانم این وضعیت را بدون دور انداختن همچیز بهبود بدهم و نجات بخشم؟</li>
    </ol>

    <p>
        به یاد داشته باشید که سردرگمی در ماه های اول دانشگاه برای شما
         طبیعی ست. شما انسان هستید و در حال تغییری
          بسیار بزرگ که میتواند حتی دییقترین برنامه ریز را از بین ببرد.
    </p>

    <div class="w-100 d-flex justify-content-center mb-3">
        <img src="../assets/images/2457afb70cb6c8eb64ce3b72fff0eb55intp.png" alt="post pic">
    </div>

    <p>
        اگر شما <strong>درونگرا شهودی متفکر و ادراک گرا میباشید بسیار</strong> 
        کنجکاو
         و عالی هستید. شما به احتمال زیاد به موارد زیر اعتقاد دارید:
    </p>

    <p>
        در مدرسه معمولا میتوانید بدون مطالعه برای امتحانات آنها را بگذرانید . 
        در محل کار شما سعی میکنید حداقل کار های لازم را انجام دهید و از انجام 
        مسئولیت های غیر ضروری خودداری میکنید و علاقه ای به آموزش رسمی ندارید .
    </p>

    <strong class="result">نتیجه گیری</strong>

    <p class="result">رفتن به دانشگاه برای اولین بار ، هم یک تجربه دشوار است هم هیجان انگیز. بدون توجه به نوع شخصیت شما</p>
</div>
-->