<div class="titles post">
    <h3>تحلیلگران: شخصیت شهودی متفکر</h3>

    <p>در آغاز سال تحصیلی چقدر برای ورود به دانشگاه اضطراب دارید؟</p>
    <p class="text-justify">
        اگه با ترس جواب میدهید : 
        "حدس میزنم..."  پس در جای مناسبی قرار دارید. اگر پاسخ دادید "البته"
         احتمالا شما یک رهبر یا یک مجری هستید و شما نیز باید بمانید.
    </p>
    <p class="text-justify">
        در شروع باید بگوییم که ما توصیه های خود را بر اساس داده ها
         و آنچه که این اعداد میگویند احتمالا در آموزش عالی با آنها دست و پنجه
         نرم می کنید، پایه گذاری میکنیم. اما "شما داده نیستید". شما خاص و تک 
        هستید. صرف نظر از نوع شخصیت ما امیدواریم که هر کدام از موارد زیر حتی 
        اگر به میزان کمی وجود دارد باعث روشن و واضح شدن محیط آینده شما شود.
    </p>

    <p><strong>انتخاب متناسب با <a href="#">تیپ شخصیتی</a></strong></p>
    
    <div class="w-100 d-flex justify-content-center mb-3">
        <img src="../assets/images/f1fbb7f4f4ec39a0c4e84a433c18e6e0intj.png" alt="post pic">
    </div>

    <p>
        اگر شما <strong>درون گرا شهودی متفکر و قاعده گرا هستید</strong>
        ؛ نوع شخصیت شما فشار زیادی را برای ایجاد حس شایستگی به خود وارد میکند. 
        شما ارزش را در میزان سواد میبینید. خود را بالاتر از دیگران میبینید و میخواهید
         کنترل زندگیتان را داشته باشید. افراد مانند شما انتظارات زیادی از خود دارند و 
        استانداردهای بسیار بالایی برای دنیای اطروف خود در نظر میگیرند. به هر حال شما شهودی 
        هستید. اما ویژگی های داوری و تفکر نیز شما را به طرز باورنکردنی منطقی میکند.
         متاسفانه عادت دارید به تغییر دادن چیزی ( در محیط های اجتماعی ) که سریع 
        انتظارات شما را برطرف کند تا کاری که با طی یک مسیر طولانی به هدف برسد.
    </p>

    <strong>راه حل</strong>
</div>
