<app-header></app-header>
<div class="content">
    <div class="container">
        <div class="row">
            <section class="col-md-12 col-lg-9">
                <div class="breadcrumb">
                    <nav class="breadcrumb-nav">
                        <a href="#" class="prev">خانه</a>
                        <span>/</span>
                        <a href="#" class="current">صفحات میلوژی</a>
                    </nav>
                    <div class="breadcrumb-location">
                        <a href="#">میزکار</a>
                    </div>
                </div>

                <div class="titles">
                    <h3>راز بقا در دانشگاه</h3>
                        <div class="titles-link">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">تحلیلگران: شخصیت شهودی متفکر</a> 
                                 </div>
                        
                                 <div class="col-md-6">
                                     <a href="#">سیاسی ها: شخصیت شهودی احساسی</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">نگهبانان: شخصیت عینی متفکر</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">کاشفان: شخصیت عینی احساسی</a> 
                                  </div>
                            </div>
                        </div>

                        <h3>آزمون های روانشناسی در میلوژی</h3>
                        <div class="titles-link">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">در میلوژی شخصیتت رو بشناس</a> 
                                 </div>
                        
                                 <div class="col-md-6">
                                     <a href="#">کاربرد شخصیت شناسی</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">روانشناسی</a> 
                                  </div>
                            </div>
                        </div>

                        <h3>عمومی</h3>
                        <div class="titles-link">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">درباره میلوژی</a> 
                                 </div>
                        
                                 <div class="col-md-6">
                                     <a href="#">چرا شخصیت شناسی؟</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">خودشناسی</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">ژنتیک یا محیط در شخصیت شناسی</a> 
                                  </div>
                                  <div class="col-md-6">
                                    <a href="#">اثر تیپ شخصیتی من در زندگی</a> 
                                 </div>
                        
                                 <div class="col-md-6">
                                     <a href="#">یک کار افرین چگونه شخصیتی دارد؟</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">خلاقیت در هر شخصیت</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">خودشناسی و مهارت در زندگی</a> 
                                  </div>
                                  <div class="col-md-6">
                                    <a href="#">بهترین تست خودشناسی</a> 
                                 </div>
                        
                                 <div class="col-md-6">
                                     <a href="#">یک قدم به سوی خودشناسی</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">تمرین قدرتمند خودشناسی برای موفقیت در زندگی</a> 
                                  </div>
         
                                  <div class="col-md-6">
                                     <a href="#">مهارت خودشناسی با 3 قدم</a> 
                                  </div>
                                  <div class="col-md-6">
                                    <a href="#">مراحل خودشناسی در ساده ترین گفتمان</a> 
                                 </div>
                        
                                 <div class="col-md-6">
                                     <a href="#">خودشناسی در اسلام</a> 
                                  </div>
                            </div>
                        </div>
                </div>

                <div class="titles titles-result">
                    <div class="stylize">
                            <h3>خلاصه مطالعه ها</h3>
                        
                        <div class="qoutes">
                            <div class="qoute-info">
                                <div class="qoute-info-pic">
                                    <a href=""><img src="assets/images/avatar.png" alt="user pic"></a>
                                </div>
                            
                                <div class="qoute-info-title align-items-center">
                                    <a href=""><h4>روژین اسمعیلی</h4></a>
                                    <i class="fa fa-book"></i>
                                    <span>طراحی لوگو</span>
                                </div>

                                <time>4 روز پیش</time>
                            </div>

                            <blockquote class="qoute-text text-justify">
                                برای اینکه یه لوگو خوب داشته
                                باشیم باید به فضای منفی اهمیت بدیم و استفاده خوب بکنیم و حتی بعضی وقت ها به
                                لوگو مون یه فضای منفی بدیم که باعث خوانایی میشه و باعث واضح بودن لوگو میشه
                                و نکته دیگه حتی الامکان لوگو ساده باشه و از رنگ هایی استفاده بشه که ا ...
                            </blockquote>
                        </div>

                        <div class="qoutes">
                            <div class="qoute-info">
                                <div class="qoute-info-pic">
                                    <a href=""><img src="assets/images/avatar (1).png" alt="user pic"></a>
                                </div>
                            
                                <div class="qoute-info-title align-items-center">
                                    <a href=""><h4>سید احمد حسینی</h4></a>
                                    <i class="fa fa-book"></i>
                                    <span> الگوریتم های تکاملی برای طراحی کنترل کننده PID</span>
                                </div>

                                <time>1 ماه پیش</time>
                            </div>

                            <blockquote class="qoute-text text-justify">
                                برای اینکه یه لوگو خوب داشته
                                باشیم باید به فضای منفی اهمیت بدیم و استفاده خوب بکنیم و حتی بعضی وقت ها به
                                لوگو مون یه فضای منفی بدیم که باعث خوانایی میشه و باعث واضح بودن لوگو میشه
                                و نکته دیگه حتی الامکان لوگو ساده باشه و از رنگ هایی استفاده بشه که ا ...
                            </blockquote>
                        </div>
                    </div>
                    <div class="more d-flex align-items-center">
                        <a href="">بیشتر</a>
                    </div>
                </div>

                <div class="titles">
                    <h3>بحث های هفته میلوژی</h3>

                    <div class="row">
                        <div class="titles-link titles-link-discuss">
                            <a href="#">بحث های هفته 22 : مصرف بهینه</a>
                            <p class="text-justify">
                                یکی از سخت‌ترین کارها در زمانه‌ی ما صحبت از مصرف درست
                                 و بهینه ست... در جهانی که هر روز زیر بمباران تبلیغات مصرف گرایانه
                                 هستیم و حتی در فرهنگ عمومی هم مصرف بیشتر و بی قید به نوعی برتری
                                 و کلاس تبدیل شده، خیلی جایی برای صحبت از کم مصرف کردن نمی‌مونه به...
                            </p>

                            <a href="#">بحث هفته ۱ : برای خودت زندگی کن و نذار دیگران بهت جهت بدن</a>
                            <p class="text-justify">
                                شاید شما هم با جمله هایی مثل اینکه میگن 
                                : «برای خودت زندگی کن» یا «نذار دیگران بهت جهت بدن» برخورد کرده باشین...
                                 به نظر شما توی دنیایی که هر روز با صدها نفر تعامل داریم، بین کسایی
                                 که برامون مهم، عزیز یا تعیین کننده هستند و در موقعیت‌هایی مثل اجتماع ،...
                            </p>
                        </div>
                    </div>
                </div>
            </section>
    
            <aside class="col-lg-3 d-none d-lg-flex">
                <div class="side">
                    <div class="sidebar-pic d-flex justify-content-center">
                        <img src="assets/images/prof_1.png" alt="prof image">
                    </div>

                    <div class="sidebar-info">
                        <p class="text-justify">
                            میلوژی مجموعه‌ای از کارهای کوچک و عملیه
                             که بر اساس ویژگی‌های شخصیتی و علایق شخصی شما بهتون پیشنهاد میشه! 
                            ریشه‌های علمی میلوژی از روانشناسی،علوم رفتاری، مدیریت و علوم
                             اجتماعی تغذیه میشه و در ساختارش از جدیدترین روش‌های روز دنیا
                             جهت انگیزه بخشی ، حفظ و تداوم عادات مثبت استفاده شده...
                         </p>

                         <a href="#" class="btn btn-warning">ثبت نام</a>
                    </div>
                    
                    <div class="sidebar-box">
                        
                        <div class="box-title">
                            <img src="assets/images/movafaghiat.png" alt="success icon">
                            <h4>متولدین اخیر</h4>
                        </div>
                        
                        <div class="box-content row">
                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (2).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (3).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (4).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (5).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (6).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (7).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (8).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (9).png" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="حسین اکبری 475"><img src="assets/images/avatar (3).png" alt="user"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box">
                        
                        <div class="box-title">
                            <img src="assets/images/movafaghiat.png" alt="success icon">
                            <h4>سرویس ها</h4>
                        </div>
                        
                        <div class="box-content row">
                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/personality-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/ent-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/fourteendays-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/desktop-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/brain-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/creativity-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/fiveneed-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/mi-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/inbox-icon" alt="user"></a>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="user-pic">
                                    <a href="#" data-toggle="tooltip" title="تیپ شخصیت MBTI"><img src="assets/images/profile-icon" alt="user"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col-content">
                    <h4>درباره</h4>

                    <p>
                        میلوژی مجموعه‌ای از کارهای کوچک و
                        عملیه که بر اساس ویژگی‌های شخصیتی و علایق شخصی شما بهتون پیشنهاد میشه! ریشه‌های علمی 
                        میلوژی از روانشناسی،علوم رفتاری، مدیریت و علوم اجتماعی تغذیه میشه و در ساختارش از
                        جدیدترین روش‌های روز دنیا جهت انگیزه بخشی ، حفظ و تداوم عادات مثبت استفاده شده...
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-content">
                    <h4>منو</h4>

                    <ul class="list-unstyled">
                        <li><a href="#">قوانین سایت</a></li>
                        <li><a href="#">درباره میلوژی</a></li>
                        <li><a href="#">مقالات سایت</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-content">
                    <h4>ما در شبکه های اجتماعی</h4>

                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-content">
                    <h4>تماس با ما</h4>

                    <address>
                        آدرس<br>
مشهد - دانشگاه فردوسی - مرکز رشد شماره                          ۴
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="creator">
        <span>طراحی و توسعه : میلوژی</span>
    </div>
</footer>
