<app-header></app-header>
<div class="content">
    <div class="container">
        <div class="row">
            <section class="col-md-12 col-lg-9">
            
                <app-breadcrumb></app-breadcrumb>

                <div class="titles">
                    <app-content-link></app-content-link>

                    <app-content-link></app-content-link>

                    <app-content-link></app-content-link>
                </div>

                <div class="titles titles-result">
                    <div class="stylize">
                        <h3>خلاصه مطالعه ها</h3>
                        
                        <app-quote></app-quote>

                        <app-quote></app-quote>
                    </div>
                    <div class="more d-flex align-items-center">
                        <a href="">بیشتر</a>
                    </div>
                </div>

                <div class="titles">
                    <h3>بحث های هفته میلوژی</h3>

                    <div class="row">
                        <div class="titles-link titles-link-discuss">
                            <app-content-discuss></app-content-discuss>
                            
                            <app-content-discuss></app-content-discuss>
                        </div>
                    </div>
                </div>
            </section>
    
            <aside class="col-lg-3 d-none d-lg-flex">
                <app-sidebar></app-sidebar>
            </aside>
        </div>
    </div>
</div>

<app-footer></app-footer>
