<div class="side">
    <div class="sidebar-pic d-flex justify-content-center">
        <img src="assets/images/prof_1.png" alt="prof image">
    </div>

    <div class="sidebar-info">
        <p class="text-justify">
            میلوژی مجموعه‌ای از کارهای کوچک و عملیه
             که بر اساس ویژگی‌های شخصیتی و علایق شخصی شما بهتون پیشنهاد میشه! 
            ریشه‌های علمی میلوژی از روانشناسی،علوم رفتاری، مدیریت و علوم
             اجتماعی تغذیه میشه و در ساختارش از جدیدترین روش‌های روز دنیا
             جهت انگیزه بخشی ، حفظ و تداوم عادات مثبت استفاده شده...
         </p>

         <a href="#" class="btn btn-warning">ثبت نام</a>
    </div>
    
    <app-sidebar-box></app-sidebar-box>

    <app-sidebar-box></app-sidebar-box>
</div>
