<div class="titles">
    <h3>بحث های هفته میلوژی</h3>

    <div class="row">
        <div class="titles-link titles-link-discuss">
            <a href="#">بحث های هفته 22 : مصرف بهینه</a>
            <p class="text-justify">
                یکی از سخت‌ترین کارها در زمانه‌ی ما صحبت از مصرف درست
                    و بهینه ست... در جهانی که هر روز زیر بمباران تبلیغات مصرف گرایانه
                    هستیم و حتی در فرهنگ عمومی هم مصرف بیشتر و بی قید به نوعی برتری
                    و کلاس تبدیل شده، خیلی جایی برای صحبت از کم مصرف کردن نمی‌مونه به...
            </p>

            <a href="#">بحث های هفته 22 : مصرف بهینه</a>
            <p class="text-justify">
                یکی از سخت‌ترین کارها در زمانه‌ی ما صحبت از مصرف درست
                    و بهینه ست... در جهانی که هر روز زیر بمباران تبلیغات مصرف گرایانه
                    هستیم و حتی در فرهنگ عمومی هم مصرف بیشتر و بی قید به نوعی برتری
                    و کلاس تبدیل شده، خیلی جایی برای صحبت از کم مصرف کردن نمی‌مونه به...
            </p>
        </div>
    </div>
</div>