/*---------------breadcrumb-------------*/

.breadcrumb{
    background-color: #f5f5f5;
    padding: 0 1rem;
    height: 49px;
    align-items: center;
}

.breadcrumb-nav a{
    font-size: 14px;
    font-weight: 600;
}

.breadcrumb .prev{
    color: #337ab7;
}

.breadcrumb .current{
    color: #5f5f5f;
    text-decoration: none;
    cursor: default;
}

.breadcrumb span{
    color: rgb(204, 204, 204);
    margin: 0 5px;
}

.breadcrumb .breadcrumb-location{
    background-color: white;
    position: absolute;
    left: 16px;
    padding: 12px 0;
    width: 100px;
    text-align: center;
    border-radius: 0.25rem;
}

.breadcrumb .breadcrumb-location a{
    font-size: 14px;
    color: #ffb013;
    font-weight: 600;
}