.info-pic{
    display: inline-block;
    float: right;
    margin-left: 35px;  
}

.info .titles{
    display: flex;
    max-height: auto;
    position: relative;
    margin-top: 0;
}

.info .titles::before{
    margin-right: -40px;
    top: 43%;
    border-left: 20px solid #fff;
    content: "";
    width: 0;
    height: 0;
    border: 15px solid white;
    transform: rotate(45deg);
    position: absolute;
}

.info-text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    color: #5a7391;
    padding-right: 7px;
    z-index: 2;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .info-pic{
        width: 124px;
    }

    .info-pic img{
        width: 124px;
    }

    .info-text{
        font-size: 12px;
        line-height: 20px;
    }

    .info .titles{
        padding-left: 5px;
        padding-right: 5px;
    }

    .info .titles::before{
        margin-right: -20px;
    }

    .info{
        align-items: flex-start;
    }

    .info .titles::before{
        top: 45px;
    }
}