<div class="qoutes">
    <div class="qoute-info">
        <div class="qoute-info-pic">
            <a href=""><img src="assets/images/avatar.png" alt="user pic"></a>
        </div>
    
        <div class="qoute-info-title align-items-center">
            <a href=""><h4>روژین اسمعیلی</h4></a>
            <i class="fa fa-book"></i>
            <span>طراحی لوگو</span>
        </div>

        <time>4 روز پیش</time>
    </div>

    <blockquote class="qoute-text text-justify">
        برای اینکه یه لوگو خوب داشته
        باشیم باید به فضای منفی اهمیت بدیم و استفاده خوب بکنیم و حتی بعضی وقت ها به
        لوگو مون یه فضای منفی بدیم که باعث خوانایی میشه و باعث واضح بودن لوگو میشه
        و نکته دیگه حتی الامکان لوگو ساده باشه و از رنگ هایی استفاده بشه که ا ...
    </blockquote>
</div>
