/*---------------titles-------------*/

.titles-result{
    padding: 15px 0 0 0 !important;
}

.more{
    width: 100%;
    height: 91px;
    justify-content: center;
    background-color: #f5f8fa;
    margin-top: 40px;
    border-top: 1px solid #ebebeb;
}

.more a{
    text-decoration: none;
    color: #909090;
    font-weight: 600;
}

.more a:hover{
    color: #5f5f5f;
}

.stylize{
    padding: 0 25px;
}


/*---------------qoutes-------------*/

.qoutes{
    background-color: #f9f9f9;
    border-radius: 0.25rem;
    border-bottom: 3px solid #d1d2da;
    padding: 15px;
    margin-top: 20px;
}

.qoutes a{
    text-decoration: none;
}

.qoutes .qoute-info-pic{
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    float: right;
}

.qoutes .qoute-info-pic img{
    display: block;
    max-width: 100%;
    height: auto;
}

.qoutes .qoute-info-title{
    padding: 9px;
    padding-right: 80px;
}

.qoutes .qoute-info-title h4{
    color: #14b9d6;
    font-size: 16px;
    font-weight: 600;
}

.qoutes .qoute-info-title span{
    color: #9292a2;
    font-size: 12px;
    font-weight: 600;
}

.qoutes .qoute-info-title i{
    color: #9292a2;
    font-size: 20px;
    margin-left: 5px;
}

.qoutes .qoute-info{
    position: relative;
}

.qoutes .qoute-info time{
    position: absolute;
    left: 0;
    top: 9px;
    color: #9292a2;
    font-size: 12px;
    font-weight: 600;
}

.qoutes .qoute-text{
    font-size: 16px;
    color: #5f5f5f;
    font-weight: 600;
    line-height: 35px;
    padding: 14px;
    padding-bottom: 0;
}

@media only screen and (max-width: 400px) {
    
    .qoutes .qoute-info-pic{
        width: 55px;
        height: 55px;
    }

    .qoutes .qoute-info-title{
        padding: 9px;
        padding-right: 70px;
    }

    .qoutes .qoute-text{
        font-size: 12px;
    }

    .qoutes .qoute-info-title h4{
        font-size: 12px;
    }

    .qoutes time{
        font-size: 10px !important;
    }

    .qoutes .qoute-info-title span{
        font-size: 10px;
    }

    .qoutes .qoute-info-title i{
        font-size: 15px;
    }
}

.qoute-tag{
    border-radius: 3px;
    padding: 0 10px;
    margin-left: 10px;
    background-color: #00bff3;
    font-size: 12px;
    display: inline;
    margin-right: 10px;
}

.qoute-tag a{
    color: white;
}