<div class="titles titles-result">
    <div class="stylize" *ngIf="quote">
        <h3>خلاصه مطالعه ها</h3>
        
        <div class="qoutes" *ngFor="let item of quote.data" >
            <div class="qoute-info">
                <div class="qoute-info-pic">
                    <a href=""><img src="https://api.milogy.com/users/{{item.id}}/avatar" alt="user pic"></a>
                </div>
            
                <div class="qoute-info-title align-items-center">
                    <a href=""><h4>{{item.user_nickname}}</h4></a>
                    <i class="fa fa-book"></i>
                    <span>{{item.title}}</span>
                </div>
        
                <time>4 روز پیش</time>
            </div>
        
            <blockquote class="qoute-text text-justify">
                {{item.content | slice:0:280}}...
            </blockquote>
            
            <div *ngIf="item.tags != null">
                <div class="qoute-tag">
                    <a href="#">{{item.tags}}</a>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="more d-flex align-items-center">
        <a href="">بیشتر</a>
    </div>
</div>

