@font-face{
	font-family: 'IranSans';
	src: url('assets/fonts/IRANSansWeb.eot');
}
@font-face{
	font-family: 'IranSans';
	src: url('assets/fonts/IRANSansWeb.ttf');
}
@font-face{
	font-family: 'IranSans';
	src: url('assets/fonts/IRANSansWeb.woff');
}
@font-face{
	font-family: 'IranSans';
	src: url('assets/fonts/IRANSansWeb.woff2');
}

body{
    font-family: 'Iransans';
    background-color: #eeeff0;
    direction: rtl;
}

/*--------------------content----------------*/

.content .row{
    margin-top: 90px;
}

/*---------------titles-------------*/

.titles{
    background-color: white;
    text-align: right;
    padding: 15px 25px;
    border-radius: 0.25rem;
    border-bottom: 3px solid #ddd;
    margin: 20px 0;
}

.titles h3{
    padding: 15px 0;
    color: #5a7391;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
}

.titles .titles-link a{
    text-decoration: none;
    color: #337ab7;
    font-size: 14px;
    font-weight: 600;
}

.titles .titles-link a:hover{
    color: #5a7391;
}

.titles-link{
    margin-top: -70px;
    padding-bottom: 15px;
}

.titles .titles-link .col-md-6{
    padding: 8px 15px;
}

.titles p{
    line-height: 45px;
    font-size: 14px;
    color: #5f5f5f;
    margin-top: 10px;
}

/*---------------sidebar-------------*/

.col-lg-3{
    padding-right: 0;
}

/*--------------tooltip-------------*/

.tooltip-inner {
    padding: 8px;
    width: 160px;
    background-color: black;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    display: block;
    white-space: pre-wrap;
    font-family: 'Iransans';
    border-radius: 0;
    color: white;
  }

/*-------------------post----------------*/

.post p{
    line-height: 35px;
    margin-top: 0;
}

.post a{
    text-decoration: none;
    color: #337ab7;
    font-size: 14px;
    font-weight: 600;
}

.post a:hover{
    color: #5a7391;
}

.post strong{
    color: #5f5f5f;
}
