<div class="titles">
    <div class="special">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/brain-icon (1)" alt="avatar pic" class="titles-pic">

                <ul class="list-unstyled titles-features">
                    <li><i class="fas fa-gem"></i><span>250</span></li>
                    <li><i class="fas fa-shopping-cart"></i><span>0 تومان</span></li>
                    <li><i class="fas fa-list"></i><span>25 سوال</span></li>
                    <li><i class="fas fa-hourglass"></i><span>5 دقیقه</span></li>
                    <li><i class="fas fa-user-friends"></i><span>+2000 نفر</span></li>
                </ul>
            </div>
            <div class="col-10">
                <div class="titles-title">
                    <h3>نیمکره فعال</h3>
                    <span class="question">کدوم نیمکره مغزم فعال تره؟!</span>
                </div>
                <a href="#" class="btn btn-warning">مشاهده نتایج</a>

                <div class="titles-aim">
                    <span class="aim-question">به چه دردی میخوره؟</span>

                    <ul class="list-unstyled aim-items">
                        <li class="d-flex align-items-center first"><i class="fas fa-check-circle"></i><span>میفهمی که از کدوم نیمکره مغزت بیشتر استفاده می کنی</span></li>
                        <li class="d-flex align-items-center"><i class="fas fa-check-circle"></i><span>با کارکردهای نیم کره چپ و راست مغز آشنا میشی</span></li>
                        <li class="d-flex align-items-center"><i class="fas fa-check-circle"></i><span>راهکارهایی برای تقویت هر دو نیم کره یاد میگیری</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="titles-image">
            <img src="assets/images/44353.png" alt="title image">

            <div class="image-social-icons">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-google-plus-square"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="titles-share-bar">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <ul>
                    <li><a href="" class="first-icon"><i class="fas fa-heart"></i><span>629</span></a></li>
                    <li><a href="#"><i class="fas fa-comments"></i><span>874</span></a></li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="users d-block">
                    <a href=""><img src="assets/images/avatar (10).png" alt="user1" class="user"></a>
                    <a href=""><img src="assets/images/avatar (3).png" alt="user2" class="user"></a>
                    <a href=""><img src="assets/images/avatar (11).png" alt="user3" class="user"></a>
                </div>
                
                <span class="users-text d-block">آخرین شرکت کنندگان</span>
            </div>

            <div class="d-none d-lg-flex col-lg-4 justify-content-center">
                <div class="d-flex align-items-center">
                    <a href="#" class="share"><i class="fas fa-share-alt"></i><span>پیشنهاد به دوستان</span></a>    
                </div>
            </div>
        </div>
    </div>
</div>
